/* input.scss */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;400;900&display=swap');

$default-font-size: 18px;
$key-font-family: 'Kanit', sans-serif;
$key-width: 100px;
$key-height: 100px;
$key-bg: #ff0080;
$key-c: #FFF;
$section-bg: #8000ff;
$key-hover-bg: #0080ff;
$easing-function: cubic-bezier(0.76, 0, 0.24, 1);

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: $default-font-size;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.section {
    width: 80%;
    background-color: $section-bg;
    padding: 2rem;
    border: double 10px $key-c;
    margin: 3rem auto;
    display: flex;
    justify-content: space-evenly;
}

.key {
    width: $key-width;
    height: $key-height;
    background-color: $key-bg;
    color: $key-c;
    font-family: $key-font-family;
    font-size: 1.4rem;
    font-weight: 400;
    border: 4px solid $key-c;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .1s $easing-function, font-weight .05s $easing-function;
}

.is-pressed {
    transform: translateY(-20px) scale(1.1);
    font-weight: 900;
}